{% include 'header.html' %}

<style>
  .jumbotron-dark {
  background-color: #6B76E1;
  color: #fff;
}

.jumbotron-dark .display-4,
.jumbotron-dark .lead {
  color: #fff;
}

.jumbotron-dark hr.my-4 {
  border-top: 2px solid #fff;
}

.jumbotron-dark .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.jumbotron-dark .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
</style>
<div class="jumbotron jumbotron-dark text-center">
  <div class="container">
    <h1 class="display-4">Welcome to drugs.ai</h1>
    <p class="lead">Let's generate your protein Sequence of drugs with drugs.ai</p>
    <p>By : Heru triana, Enaikele omoh kelvin & Rajesh Biswas</p>
    <hr class="my-4">
    <a href="/input" class="btn" href="#" role="button" style="background-color: white;color: #6B76E1;font-size: 30px;"><i class="bi bi-gear"></i> Generate</a>
  </div>
</div>

{% include 'footer.html' %}
