<!DOCTYPE html>
<html>
  <head>
    <title>drugs.ai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/logo.png" />
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-sm" style="background-color:white;">
      <a class="navbar-brand" href="#" style="color: #6B76E1;">
        <img src="static/img/logo.png" alt="drugs.ai" style="width:40px;"> <b>drugs.ai</b>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item" style="margin-left: 10px;">
          <button class="btn nav-link" style="background-color: #6B76E1;"><a href="/" style="color: white;padding: 8px 8px 8px 8px;"><i class="bi bi-house-door" style="font-size: 20px;"></i> Dashboard</a></button>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
          <button class="btn nav-link" style="background-color: #6B76E1;"><a href="/input" style="color: white;padding: 8px 8px 8px 8px;"><i class="bi bi-box-arrow-right" style="font-size: 20px;"></i> Generate</a></button>
        </li>
      </ul>
    </nav>
    <br>
    <div class="container">
